[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.apple.com/simple"
verify_ssl = true
name = "apple"

[packages]
Flask-AppleConnect = {version="*", index="apple"}
Flask = "*"
flask-login = "*"
imetrics = {version="*", index="apple"}
itsdangerous = "*"
Jinja2 = "*"
MarkupSafe = "*"
pymongo = "*"
python-dateutil = "*"
PyYAML = "*"
requests_oauthlib = "*"
simplejson = "*"
six = "*"
Werkzeug = "*"

[dev-packages]
nose = "*"
ipython = "*"

[requires]
python_version = "3.6"
