[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
flask-login = "*"
itsdangerous = "*"
Jinja2 = "*"
MarkupSafe = "*"
pymongo = "*"
python-dateutil = "*"
PyYAML = "*"
requests_oauthlib = "*"
simplejson = "*"
six = "*"
Werkzeug = "*"

[dev-packages]
black = "*"
nose = "*"
ipython = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
