# Copyright (c) 2020 AlertAvert.com  All rights reserved.
# Created by M. Massenzio, 2016
#
# Packages required.

flask
flask-login
halo
itsdangerous
jinja2
markupsafe
pymongo
python-dateutil
pyyaml
requests_oauthlib
simplejson
six
werkzeug

# Development packages
black
ipython
nose
sh
