<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          href="{{ static_for('stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ static_for('favicon.ico') }}">
    <title>Simple Flask Server</title>
  </head>
  <body>
    <div><img src="{{ static_for('logo.png') }}" height="42" width="42">
        <h1>Simple Web Server</h1>
    </div>
    <div>
        <p>
            This is the main page, mostly just used to test the app is running.
        </p>
        <p>
            This application's working directory is: <pre>{{ workdir }}</pre>
        </p>
    </div>
    <div>
        <h3>API spec</h3>
        <table>
            <thead>
                <td>Method</td><td>Endpoint</td><td>Response</td>
            </thead>
            <tbody>
                <tr>
                    <td><code>GET</code></td>
                    <td><a href="/health"><code>/health</code></a></td>
                    <td><code>200</code></td>
                </tr>
                <tr>
                    <td><code>GET</code></td>
                    <td><a href="/config"><code>/config</code></a></td>
                    <td><code>200</code></td>
                </tr>
                <tr>
                    <td><code>GET</code></td>
                    <td><a href="/statuscode/202"><code>/statuscode/{code}</code></a></td>
                    <td><code>code</code></td>
                </tr>
                <tr>
                    <td><code>GET</code></td>
                    <td><code>/api/v1/entity/{id}</code></td>
                    <td>Entity values, if it was previously created</td>
                </tr>
                <tr>
                    <td><code>POST</code></td>
                    <td><code>/api/v1/entity</code><br/>JSON Body contains the data</td>
                    <td><code>201</code><br/><code>Location: /api/v1/entity/{newly created id}</code></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h5>Simple Flask server - rev. {{ version }}</h5>
    </div>
  </body>
</html>
